Tsar = 'tstar_twregular'

@font-face 
  font-family Tsar
  src url('../assets/fonts/tstar_tw-regular-webfont.eot')
  src url('../assets/fonts/tstar_tw-regular-webfont.ttf') format('truetype'), url('../assets/fonts/tstar_tw-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/tstar_tw-regular-webfont.woff') format('woff'), url('../assets/fonts/tstar_tw-regular-webfont.svg#tstar_twregular') format('svg')
  font-weight normal
  font-style normal

html, body
  margin    0
  padding   0
  width     100%
  height    100%
  overflow  hidden
  background-color #000
  color     #fff
  font-family Tsar

#title
  display none

#container, #paperjs-canvas 
  width   100%
  height  100%